/**************************************************NavBar********************************************/
.navbar {
  background: linear-gradient(to right, rgba(0, 4, 255, 0), rgb(7, 71, 131));
  color:white;
}

.container-fluidata{
  background: linear-gradient(to right, rgba(0, 4, 255, 0), rgb(7, 71, 131));
  color:white;
  width: 2606px;
}

.navbarmb {
padding-left: 1572px;
}

.navbarmoviebase {
  background: linear-gradient(to right, rgba(0, 4, 255, 0), rgb(7, 71, 131));
  color:white;
}

.navbardata {
  background: linear-gradient(to right, rgba(0, 4, 255, 0), rgb(7, 71, 131));
  color:white;
}

.navbar-brand {
  color: #1d301c !important;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: gray !important;
}

.btn-primary {
  color: white;
  background-color: #1d301c;
  border-color: #1d301c;
}

.btn-primary:hover {
  background-color: #3f4e3b;
  border-color: #3f4e3b;
}

/**************************************************HRefs and Titles*************************************/

/* h2 {
  color: white
}

h6 {
  color: white
} */

.container2 {
  padding: 0 16px;
  background-image: linear-gradient(to left, rgba(0, 4, 255, 0), rgb(7, 71, 131));
}

.container3 {
  margin-left: 50px;
  margin-right: 50px;
  /* width:2582px; */
}

.container4 {
  padding-left: 25px;
  padding-right: 25px;
  /* width:2550px; */
  background-color:rgb(110, 165, 218);
}

.column-team{
  width: 200px;
  height: 500px;
}

.card-team{
  width: 200px;
  height: 500px;
}

.container-team{
  background-color: cornsilk;
  color: black;
}
/**************************************************CAROUSEL**********************************************/

