<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieBase</title>
    <!-- <script data-main="scripts/app" src="scripts/require.js"></script> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href = "/Resources/static/css/style.css" rel = "stylesheet">

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/Resources/templates/index.html">
        <div class="logo-image">
          <img src="/Images/logo.PNG" class="img-fluid">
      </div>
      </a

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/Resources/templates/index.html">Home</a>
            <a class="nav-link" href="/Resources/templates/recommendation.html">Recommendation </a>
            <a class="nav-link" href="/Resources/templates/database.html">Database </a>
            <a class="nav-link" href="/Resources/templates/team.html">Team</a>
          </div>
        </div>
        
      </div> 
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>MovieBase</h1>
        <a href="https://www.enterhere" target="_blank">Select your movie</a>
      </div>
    </div>

  <div class="container"> 
    <table id="rawData" class="display" width="100%"></table>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>
<script>

</script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<!-- <script src="/Resources/static/js/data.js"></script> -->


</body>
</html>