<!DOCTYPE html>
<html lang="en">

<!-- ----------------------------------------------------------------
HEAD
---------------------------------------------------------------- -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieBase</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href = "./static/css/style.css" rel = "stylesheet">
</head>

<body background="./static/images/wallpaper3.jpg"></body>

<!-- ----------------------------------------------------------------
NAVIGATION BAR
---------------------------------------------------------------- -->




<!-- ----------------------------------------------------------------
CAROUSEL
---------------------------------------------------------------- -->
<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h1>MovieBase</h1>
      <p>Machine Learning Web Application Final Project</p>
    </div>
  </div>

<br>
<br>
<br>

<!-- ----------------------------------------------------------------
TEST START
---------------------------------------------------------------- -->
      <h2>M|B Predictor</h2> 
      <h6>Use the predictor tool to find out whether a Movie is going to be good or bad</h6>

                <hr>

                <h4>Budget:</h4>
                <input id="budget">
        
                <h4>Runtime:</h4>
                <input id="runtime">
        
                <h4>Genre:</h4>
                <select id="genre">
                  <option value = 'Comedy'>Comedy</option>
                  <option value = 'Drama'>Drama</option>
                  <option value = 'Family'>Family</option>
                  <option value = 'Romance'>Romance</option>
                  <option value = 'Thriller'>Thriller</option>
                  <option value = 'Action'>Action</option>
                  <option value = 'Animation'>Animation</option>
                  <option value = 'Adventure'>Adventure</option>
                  <option value = 'Horror'>Horror</option>
                  <option value = 'Music'>Music</option>
                  <option value = 'Crime'>Music</option>
                  <option value = 'Science Fiction'>Science Fiction</option>
                  <option value = 'Mystery'>Mystery</option>
                  <option value = 'Fantasy'>Fantasy</option>
                  <option value = 'War'>War</option>
                  <option value = 'History'>History</option>
                </select>
        
                <h4>language:</h4>
                <select id="language">
                  <option value = 'English'>English</option>
                  <option value = 'Français'>French</option>
                  <option value = 'Español'>Spanish</option>
                  <option value = 'Deutsch'>German</option>
                  <option value = 'Pусский'>Russian</option>
                </select>

                <br>
                <br>
                <button type="button" id="btn-predict">Predict</button>
                <br>
                <br>

                <hr>

                <h4>Our prediction</h4>

                <h1 id="prediction-output"></h1>

<!-- ----------------------------------------------------------------
SCRIPTS
---------------------------------------------------------------- -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/css/style.css"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="./static/js/predict.js"></script>

</body>
</html>