<!-- ----------------------------------------------------------------
TOP
---------------------------------------------------------------- -->
<!DOCTYPE html>
<html lang="en">

<!-- ----------------------------------------------------------------
HEAD
---------------------------------------------------------------- -->
<head>
 
  <title>MovieBase</title>

  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link href = "./static/css/style.css" rel = "stylesheet">
   
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <!-- Page Wallpaper -->
  <body background="./static/images/wallpaper3.jpg"></body>

</head>

<!-- ----------------------------------------------------------------
NAVIGATION BAR
---------------------------------------------------------------- -->

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand"href="/">
            <div class="logo-image">
              <img src="/static/images/logo.PNG" class="img-fluid">
            </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/team">Team</a>
            <a class="nav-link" href="/data">Data </a>
            <a class="nav-link" href="/vis">Visualisations </a>
            <a class="nav-link" href="/predict">Predict</a>
          </div>
        </div>
      </div>
    </nav>

<!-- ----------------------------------------------------------------
PAGE HEADING
---------------------------------------------------------------- -->

<div class="container">
    <div class="row">
      <div class="=mbtitle col-md-12 text-center" style= "color:rgb(7, 71, 131);font-family:Blippo, fantasy;font-size: x-large;">
        <h1>Predict</h1>
        <p>Machine Learning Web Application Final Project</p>
      </div>
    </div>

<!-- ----------------------------------------------------------------
FORM
---------------------------------------------------------------- -->

<div class=container2 >
    <h2 style="color: white">Prediction Model</h2> 
    <h6 style="color: white">Make Movies that Make Money</h6>

              <hr>

              <h4 style="color: white">Budget:</h4>
              <input id="budget">
      
              <h4 style="color: white">Runtime:</h4>
              <input id="runtime">

              <h4 style="color: white">Genre:</h4>
              <select id="genre">
                <option value = 'Comedy'>Comedy</option>
                <option value = 'Drama'>Drama</option>
                <option value = 'Family'>Family</option>
                <option value = 'Romance'>Romance</option>
                <option value = 'Thriller'>Thriller</option>
                <option value = 'Action'>Action</option>
                <option value = 'Animation'>Animation</option>
                <option value = 'Adventure'>Adventure</option>
                <option value = 'Horror'>Horror</option>
                <option value = 'Music'>Music</option>
                <option value = 'Crime'>Crime</option>
                <option value = 'Science Fiction'>Science Fiction</option>
                <option value = 'Mystery'>Mystery</option>
                <option value = 'Fantasy'>Fantasy</option>
                <option value = 'War'>War</option>
                <option value = 'History'>History</option>
              </select>
     
              <h4 style="color: white">Language:</h4>
              <select id="language">
                <option value = 'English'>English</option>
                <option value = 'Français'>French</option>
                <option value = 'Español'>Spanish</option>
                <option value = 'Deutsch'>German</option>
                <option value = 'Pусский'>Russian</option>
              </select>

              <br>
              <br>
              <button type="button" id="btn-predict">Predict</button>
              <br>
              <br>

              <hr>

              <h2 style="color: white">MovieBase Prediction</h2>

              <h2 id="prediction-output"></h2>

              <hr>
              <br>

</div>
              <br>
              <br>
<!-- ----------------------------------------------------------------
CAROUSEL
---------------------------------------------------------------- -->

</div>

<!-- ----------------------------------------------------------------
SCRIPTS
---------------------------------------------------------------- -->

<!-- CSS -->
<script src="./static/css/style.css"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- D3 -->
<script src="https://d3js.org/d3.v7.min.js"></script>

<!-- JavaScript -->
<script src="./static/js/predict.js"></script>

</body>

</html>