<!DOCTYPE html>
<html lang="en">

<!-- ----------------------------------------------------------------
HEAD
---------------------------------------------------------------- -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieBase</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href = "./static/css/style.css" rel = "stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body background="./static/images/wallpaper3.jpg"></body>

</head>

<!-- ----------------------------------------------------------------
NAVIGATION BAR
---------------------------------------------------------------- -->

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand"href="/">
            <div class="logo-image">
              <img src="/static/images/logo.PNG" class="img-fluid">
          </div>
        </a>

        <div class=" collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/team">Team</a>
            <a class="nav-link" href="/data">Data </a>
            <a class="nav-link" href="/vis">Visualisations </a>
            <a class="nav-link" href="/predict">Predict</a>
          </div>
        </div>
      </div> 
  </nav>

<!-- ----------------------------------------------------------------
PAGE HEADING
---------------------------------------------------------------- -->

<div class="container">
    <div class="row">
      <div class="=mbtitle col-md-12 text-center" style= "color:rgb(7, 71, 131);font-family:Blippo, fantasy;font-size: x-large;">
        <h1>Team</h1>
        <p>Machine Learning Web Application Final Project</p>
      </div>
    </div>

<!-- ----------------------------------------------------------------
TEAM CARDS
---------------------------------------------------------------- -->
<div class="container">

  <div class="row" style="padding-left: 100px">

    <div class="col-sm-4" style="padding-left: 10px; padding-right: 10px">
      <div class="card">
        <img class="card-img-top" src="/static/images/Steph.jpg" style="width:100%" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Steph</h5>
          <p class="card-text">Bootcamp Survivor Class of 2021</p>
          <a href="https://www.warnerbros.com/movies/wonder-woman" target="_blank" class="btn btn-primary">Watch</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4" style="padding-left: 10px; padding-right: 10px">
      <div class="card">
        <img class="card-img-top" src="/static/images/Sam.png" style="width:100%" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sam</h5>
          <p class="card-text">Bootcamp Survivor Class of 2021</p>
          <a href="https://www.warnerbros.com/movies/wonder-woman" target="_blank" class="btn btn-primary">Watch</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4" style="padding-left: 10px; padding-right: 10px">
      <div class="card">
        <img class="card-img-top" src="/static/images/Alysha.PNG" style="width:100%" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Alysha</h5>
          <p class="card-text">Bootcamp Survivor Class of 2021</p>
          <a href="https://www.warnerbros.com/movies/wonder-woman" target="_blank" class="btn btn-primary">Watch</a>
        </div>
      </div>
    </div>

</div>

</div>
</div>

<!-- ----------------------------------------------------------------
SCRIPTS
---------------------------------------------------------------- -->

<!-- CSS -->
<script src="./static/css/style.css"></script>

 <!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!-- <script src="https://d3js.org/d3.v7.min.js"></script>
<script src="./static/js/predict.js"></script> -->

</body>
</html>