<!DOCTYPE html>
<html lang="en">

<!-- ----------------------------------------------------------------
HEAD
---------------------------------------------------------------- -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieBase</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href = "/Resources/static/css/style.css" rel = "stylesheet">
</head>

<!-- <body background="/Images/retro-tv.jpg"></body> -->

<!-- ----------------------------------------------------------------
NAVIGATION BAR
---------------------------------------------------------------- -->

<body>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/Resources/templates/index.html">
            <div class="logo-image">
              <img src="/Images/end-film-3504024-2936079.png" class="img-fluid">
            </div>
          </a
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/Resources/templates/index.html">Home</a>
              <a class="nav-link" href="/predict.html">Predictor </a>
              <a class="nav-link" href="/Resources/templates/vis.html">Visualisations </a>
              <a class="nav-link" href="/Resources/templates/database.html">Data </a>
              <a class="nav-link" href="/Resources/templates/team.html">Team</a>
            </div>
          </div>
        </div>
      </nav>

<!-- ----------------------------------------------------------------
TEST START - FORM (PET PALS EXAMPLE)
---------------------------------------------------------------- -->

  <div class="container">
    <div class="jumbotron" style="text-align: center">
        <h1>MovieBase Prediction</h1>
        <p>Enter your Movie variables here</p>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form method="POST" action="/send" role="form", name="petform">

                <div class="form-group">
                    <label for="inputbudget">Budget</label>
                    <input type="text" class="form-control" id="inputbudget" name="budget" placeholder="Placeholder">
                </div>

                <div class="form-group">
                    <label for="inputruntime">Runtime</label>
                    <input type="text" class="form-control" id="inputruntime" name="runtime" placeholder="Placeholder">
                </div>

                <div class="form-group">
                  <label for="inputreleaseyear">Release Year</label>
                  <input type="text" class="form-control" id="inputreleaseyear" name="releaseyear" placeholder="Placeholder">
                </div>

                <div class="form-group">
                  <label for="inputsequel">Sequel</label>
                  <input type="text" class="form-control" id="inputsequel" name="sequel" placeholder="Placeholder">
                </div>

                <br>
                <div class="form-group">
                    <label for="inputgenre">Genre</label>
                <select name='genre' >
                  <option value = 'Comedy'>Comedy</option>
                  <option value = 'Drama'>Drama</option>
                  <option value = 'Family'>Family</option>
                  <option value = 'Romance'>Romance</option>
                  <option value = 'Thriller'>Thriller</option>
                  <option value = 'Action'>Action</option>
                  <option value = 'Animation'>Animation</option>
                  <option value = 'Adventure'>Adventure</option>
                  <option value = 'Horror'>Horror</option>
                  <option value = 'Documentary'>Documentary</option>
                  <option value = 'Music'>Music</option>
                  <option value = 'ScienceFiction'>Science Fiction</option>
                  <option value = 'Mystery'>Mystery</option>
                  <option value = 'Foreign'>Foreign</option>
                  <option value = 'Fantasy'>Fantasy</option>
                  <option value = 'War'>War</option>
                  <option value = 'Western'>Western</option>
                  <option value = 'History'>History</option>
                  <option value = 'TVMovie'>TV Movie</option>
                </select>
                </div>
                <br>
                <input type="submit" value="submit" class="btn btn-default">

              </div>

            </form>
        </div>
    </div>

</div>

<!-- ----------------------------------------------------------------
SCRIPTS
---------------------------------------------------------------- -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/Resources/static/css/style.css"></script>

</body>
</html>